footer {
    font-size: small;
    text-align: center;
}

#site-header {
    margin-left: 1%;
    display: inline;
}

#site-header-nav {
    float: right;
}


/* Link */
a {
    /* display: block; */
    color: black;
    background-color: none;
    padding: 8px;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: aquamarine;
    color: black;
}

a:active {
    background-color: aqua;
    color: black;
}

.active {
    background-color: rgb(202, 255, 255);
}


/* List */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: aquamarine;
    color: black;
}

li a:active {
    background-color: aqua;
}


#port-piece{
    border: 1px solid black;
    width: 350px;
    height: 350px;
    margin: 5px;
    padding: 75px 0;
    text-align: center;
}

.social-icon {
    width: 35px;
    height: 35px;
}

#site-footer-social {
    margin: auto;
}