/* HEADER */
#site-header {
    margin-left: 1%;
    display: inline;
}

#header-footer {
    float: right;
    margin: auto;
}

#header-footer li {
    float: right;
}
#header-footer li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    transition: 0.7s;
}
#header-footer li a:hover {
    font-weight: 600;
    background-color: aquamarine;
    color: black;
}
#header-footer li a:active {
    background-color: aqua;
}


/* BODY */

#port-piece {
    margin: 10px;
    max-width: 470px;
    height: 350px;
    text-align: center;
}

#port-piece-det {
    padding: 20px;
}


/* FOOTER */
footer {
    font-size: small;
    text-align: center;
}

.social-icon {
    width: 30px;
    height: 30px;
}


b {
    font-weight: 600;
}

/* LINK */
.port-link {
    margin: 10px;
    background-color: rgb(202, 255, 255);
    color: black;
    transition: 0.7s;
    opacity: .8;
}

.port-link:link, :visited {
    text-decoration: none;
    color: black;
}

.port-link:hover {
    opacity: 1;
    background-color: aquamarine;
    color: black;
}

.port-link:active {
    background-color: aqua;
    color: black;
}

.active {
    background-color: rgb(202, 255, 255);
}

.inactive {
    opacity: .7;
}


/* LIST */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


iframe {
    border: 0;
    width: 350px;
    height: 470px;
    padding: 8px;
}